{% extends "market_base.html" %}

{% block title %}Invoice{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('market.static', filename='Invoice/invoice.css') }}">
{% endblock %}

{% block content %}
<div>
        <form method="POST">
            <!-- Include the header -->
            {% include "Invoice page/header.html" %}

            <!-- Main Content Section -->
            <main class="main-content">
                {% include "Invoice page/body.html" %}

            </main>
        </form>

        {% include "Invoice page/adding_sales.html" %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('market.static', filename='Invoice/invoice.js') }}?{{ filemtime('market', 'Invoice/invoice.js') }}"></script>
<script src="{{ url_for('market.static', filename='Invoice/display.js') }}?{{ filemtime('market', 'Invoice/display.js') }}"></script>
<script src="{{ url_for('market.static', filename='Invoice/rules.js') }}?{{ filemtime('market', 'Invoice/rules.js') }}"></script>
<script src="{{ url_for('market.static', filename='Invoice/modal.js') }}?{{ filemtime('market', 'Invoice/modal.js') }}"></script>
{% endblock %}

