{% extends 'base.html' %}
{% block title %}Create Bill of Lading{% endblock %}

{% block header %}
{% include 'taskbar.html' %}
{% endblock %}


{% block content %}
<div class="with-fixed-taskbar">
    <h1>Delivery Note</h1>
    <form method="POST">
        
        {% include 'Bill Of Lading page/header_info.html' %}
        {% include 'Bill Of Lading page/product_details.html' %}

        <div id="total-quantity" style="margin-top: 10px; font-weight: bold;">
            Total Quantity: 0
        </div>
        <button type="button" id="add-line-btn">Add Line</button>
        <button type="button" id="openStockFormBtn">Create Stock Item</button>
        
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}

