
{% extends "market_base.html" %}

{% block title %}Bill of Lading{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('market.static', filename='Bill Of Lading/styles.css') }}">
{% endblock %}

{% block content %}
<div>
    <h1>Delivery Note</h1>
    <form method="POST">
        {% include 'Bill Of Lading page/header_info.html' %}
        {% include 'Bill Of Lading page/product_details.html' %}

        <div id="total-quantity" style="margin-top: 10px; font-weight: bold;">
            Total Quantity: 0
        </div>
        <button type="button" id="add-line-btn">Add Line</button>
        <button type="button" id="openStockFormBtn">Create Stock Item</button>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('market.static', filename='Bill Of Lading/row.js') }}?{{ filemtime('market', 'Bill Of Lading/row.js') }}"></script>
<script src="{{ url_for('market.static', filename='Bill Of Lading/save-form.js') }}?{{ filemtime('market', 'Bill Of Lading/save-form.js') }}"></script>
<script src="{{ url_for('market.static', filename='Bill Of Lading/dropdown.js') }}?{{ filemtime('market', 'Bill Of Lading/dropdown.js') }}"></script>

    <!-- Inject error message dynamically -->
    {% if error_message %}
    <script>
        const errorMessage = "{{ error_message }}";
        if (errorMessage) {
            alert(errorMessage);
        }
    </script> 
    {% endif %}
    <script>
        const recycleBinUrl = "/market/static/Image/recycle-bin.png";
        const productOptions = {{ product_options | tojson | safe }};
        const unitOptions = {{ production_unit_codes | tojson | safe }};
    </script>   
{% endblock %}
