<div class="headers">
    <div class="form-row">
        <div class="form-group input-container">
            <label for="ZZDelNoteNo">Delivery Note Number:</label>
            <div class="input-wrapper">
                <input type="text" id="ZZDelNoteNo" name="ZZDelNoteNo" 
                       value="{{ form_data['ZZDelNoteNo'] if form_data else '' }}" required>
                <img id="verify-icon" src="{{ url_for('static', filename='Image/neutral.png') }}" 
                     alt="Status" class="verify-icon">
            </div>
        </div>                                      
        <div class="form-group">
            <label for="ZZDelDate">Delivery Date:</label>
            <input type="date" name="ZZDelDate" value="{{ form_data['ZZDelDate'] if form_data else '' }}" required>
        </div>
        <div class="form-group">
            <label for="ZZTotalQty">Total Quantity:</label>
            <input type="number" id="ZZTotalQty" name="ZZTotalQty" value="{{ form_data['ZZTotalQty'] if form_data else '' }}" required>
        </div>    
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="ZZAgentName">Agent Code:</label>
            <select name="ZZAgentName" class="searchable-dropdown" required>
                <option value="" disabled {% if not form_data or not form_data.get('ZZAgentName') %}selected{% endif %}>Select an Agent</option>
                {% for agent in agent_codes %}
                    <option value="{{ agent[0] }}" {% if form_data and form_data.get('ZZAgentName') == agent[0] %}selected{% endif %}>
                        {{ agent[1] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="ZZMarket">Market:</label>
            <select name="ZZMarket" class="searchable-dropdown" required>
                <option value="" disabled {% if not form_data or not form_data.get('ZZMarket') %}selected{% endif %}>Select Market</option>
                {% for market in market_codes %}
                    <option value="{{ market[0] }}" {% if form_data and form_data.get('ZZMarket') == market[0] %}selected{% endif %}>
                        {{ market[1] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="ZZProductionUnit">Production Unit:</label>
            <select name="ZZProductionUnitCode" class="searchable-dropdown" required>
                <option value="" disabled {% if not form_data or not form_data.get('ZZProductionUnitCode') %}selected{% endif %}>Select a Production Unit</option>
                {% for production_unit in production_unit_codes %}
                    <option value="{{ production_unit[0] }}" {% if form_data and form_data.get('ZZProductionUnitCode') == production_unit[0] %}selected{% endif %}>
                        {{ production_unit[1] }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="ZZTransporter">Transporter:</label>
            <select name="ZZTransporterCode" class="searchable-dropdown" required>
                <option value="" disabled {% if not form_data or not form_data.get('ZZTransporterCode') %}selected{% endif %}>Select a Transporter</option>
                {% for transporter in transporter_codes %}
                    <option value="{{ transporter[0] }}" {% if form_data and form_data.get('ZZTransporterCode') == transporter[0] %}selected{% endif %}>
                        {{ transporter[1] }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="ZZPalletsOut">Pallets Out:</label>
            <input type="number" name="ZZPalletsOut" value="{{ form_data['ZZPalletsOut'] if form_data else '' }}" required>
        </div>
        <div class="form-group">
            <label for="ZZPalletsBack">Pallets Back:</label>
            <input type="number" name="ZZPalletsBack" value="{{ form_data['ZZPalletsBack'] if form_data else '' }}" required>
        </div>
    </div>
</div>