<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard/index.css') }}">
</head>
<body>
    <h1>Dashboard</h1>
    <button onclick="location.href='{{ url_for('entry.create_entry') }}'" class="btn button">Create New Entry</button>
    <button onclick="location.href='{{ url_for('view.view_entries') }}'" class="btn button">View Database</button>
    <button onclick="location.href='/import/main'" class="btn button">Import</button>
    <button onclick="location.href='{{ url_for('invoice.invoice_page') }}'" class="btn button">Invoice</button>
    <!-- <a href="{{ url_for('report.generate_report', del_note_no='22137') }}" class="btn btn-primary">Download Report</a> -->
    <button onclick="location.href='{{ url_for('entry.logout') }}'" class="btn button">Logout</button>
</body>
</html>
