<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success</title>
    <link rel="stylesheet" href="{{ url_for('market.static', filename='Submission Success/submission_success.css') }}">
</head>
<body>
    {% include 'taskbar.html' %}
    <div class="container with-fixed-taskbar">
        <h1>Entry Submitted Successfully!</h1>
        <div class="options">
            <!-- View Entry button now links to the edit_entry page -->
            <button onclick="window.location.href='/create_entry'">
                Create New Entry
            </button>
            <button onclick="window.location.href='/market/dashboard'">
                Back to Home
            </button>
        </div>
    </div>
</body>
</html>

