{% extends "market_base.html" %}

{% block title %}Submission Success{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('market.static', filename='Submission Success/submission_success.css') }}">
{% endblock %}

{% block content %}
<div class="container">
        <h1>Entry Submitted Successfully!</h1>
        <div class="options">
            <!-- View Entry button now links to the edit_entry page -->
            <button onclick="window.location.href='/create_entry'">
                Create New Entry
            </button>
            <button onclick="window.location.href='/market/dashboard'">
                Back to Home
            </button>
        </div>
    </div>
{% endblock %}

