<div>
    <h1>Invoice Header</h1>
    <div class="headers">
        <div class="form-row">
            <div class="form-group">
                <label for="delivery-note-number">Delivery Note Nr</label>
                <div class="input-wrapper">
                    <input type="text" id="delivery-note-number" placeholder="Enter Delivery Note Number" required/>
                    <img id="del-note-number-icon" src="{{ url_for('static', filename='Image/neutral.png') }}" 
                    alt="Status" class="verify-icon">
                </div>
            </div>
            <div class="form-group">
                <label for="ZZInvoiceDate">Invoice Date</label>
                <input type="date" id="ZZInvoiceDate" name="ZZInvoiceDate" placeholder="Invoice Date" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="ZZInvoiceNo">Invoice Number</label>
                <div class="input-wrapper">
                    <input type="text" id="ZZInvoiceNo" name="ZZInvoiceNo" placeholder="Invoice Number" class="form-input" required>
                    <img id="invoice-icon" src="{{ url_for('static', filename='Image/neutral.png') }}" 
                    alt="Status" class="verify-icon">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="InvoiceSalesQty">Sales Quantity</label>
                <input type="number" id="InvoiceSalesQty" name="InvoiceSalesQty" placeholder="Sales Quantity" class="form-input" required>
            </div>
            <div class="form-group">
                <label for="InvoiceSalesAmnt">Sales Amount</label>
                <input type="number" id="InvoiceSalesAmnt" name="InvoiceSalesAmnt" placeholder="Sales Amount" class="form-input">
            </div>
            <div class="form-group">
                <label for="ZZInvoiceTotalDeducted">Total Deducted</label>
                <input type="number" id="ZZInvoiceTotalDeducted" name="ZZInvoiceTotalDeducted" placeholder="Total Deducted" class="form-input">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="ZZInvoiceMarketCommIncl">Market Commission Incl.</label>
                <input type="number" id="ZZInvoiceMarketCommIncl" name="ZZInvoiceMarketCommIncl" placeholder="Market Commission Incl." class="form-input">
            </div>
            <div class="form-group">
                <label for="ZZInvoiceAgentCommIncl">Agent Commission Incl.</label>
                <input type="number" id="ZZInvoiceAgentCommIncl" name="ZZInvoiceAgentCommIncl" placeholder="Agent Commission Incl." class="form-input">
            </div>
            <div class="form-group">
                <label>Other Costs Incl.</label>
                <div id="ZZInvoiceOtherCostsIncl" class="form-static">R0.00</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="ZZInvoiceMarketCommExcl">Market Commission Excl.</label>
                <input type="number" id="ZZInvoiceMarketCommExcl" name="ZZInvoiceMarketCommExcl" placeholder="Market Commission Excl." class="form-input">
            </div>
            <div class="form-group">
                <label for="ZZInvoiceAgentCommExcl">Agent Commission Excl.</label>
                <input type="number" id="ZZInvoiceAgentCommExcl" name="ZZInvoiceAgentCommExcl" placeholder="Agent Commission Excl." class="form-input">
            </div>
            <div class="form-group">
                <label>Other Costs Excl.</label>
                <div id="ZZInvoiceOtherCostsExcl" class="form-static">R0.00</div>
            </div>
        </div>
    </div>

    <div>
        <label>Net Amount:</label>
        <span id="net-amount">R0.00</span>
        <div class="tax-rate-info">
            <span id="current-tax-rate">Tax Rate: <span id="tax-rate-value">15</span>%</span>
            <img id="change-tax-rate-icon" src="{{ url_for('static', filename='Image/edit.png') }}" alt="Change Tax Rate" class="change-tax-icon" title="Change Default Tax Rate">
        </div>
    </div>
</div>
