<template id="sales-modal-template">
    <div>
        <span>Available for sale: <span id="available-for-sale">0</span></span>
    </div>
    <div class="table-container">
        <table class="sales-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Discount(%)</th>
                    <th>Amount</th>
                    <th id="actions-header">Actions</th>
                </tr>
            </thead>
            <tbody class="sales-entries-list"></tbody>
            <tbody class="new-entry-row"></tbody>
        </table>
    </div>
    <div>
        <span>Total Quantity: <span id="totalSalesQuantity">0</span></span>
        <span>Total Amount: <span id="totalSalesAmount">R0.00</span></span>
    </div>
</template>
